/*
 * SPDX-FileCopyrightText: 2025 wucke13
 *
 * SPDX-License-Identifier: Apache-2.0
 */

# TODO migrate to https://github.com/NixOS/nixpkgs/issues/401565 once it lands
# For more info, check out https://linux-sunxi.org/Bootable_SD_card#SD_Card_Layout
config {
	rootpath = input
}

image disk.img {
	hdimage {
		partition-table-type = "gpt"
		gpt-location = 1M
	}

	partition bootloader {
		in-partition-table = false
		# TODO migrate to 128 KiB offset without holes in the GPT if
		# https://gitlab.com/qemu-project/qemu/-/issues/3229 is fixed
		offset = 8K
		size = 1016K
		image = "u-boot-sunxi-with-spl.bin"
	}

	partition rootfs {
		align = 2M
		bootable = true
		image = "bootfs.fat32"
	}
}

image bootfs.fat32 {
	name = "bootfs"
	vfat {}
	size = 150%
	mountpoint = "/boot"
}
